/* Custom properties (CSS variables) */
:root {
  --basic-black: #000000;
  --basic-black-rgba: 0, 0, 0;
  --basic-charcoal: #363636;
  --basic-dark-grey: #464646;
  --basic-granite: #7e7e7e;
  --basic-neutral: #e5e5e5;
  --basic-light-grey: #f2f2f2;
  --basic-white: #ffffff;
  --basic-white-rgba: 250, 250, 250;
  --extra-filter-grey: #dcdcdc;
  --extra-pagination-grey: #ebebeb;
  --extra-cards-overlay-rgba: 238, 238, 238;
  --extra-filter-option-disabled: #a6a6a6;
  --extra-filter-range-controls-toggle: #c4c4c4;
  --extra-saffron: #f0c52e;
  --extra-saffron-rgba: 240, 197, 46;
  --extra-light-yellow: #f7e296;
  --extra-lime: #91c92f;
  --extra-focus: #2f7cc0;
  --state-rose-water: #f6dada;
}

/* Local fonts */
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

/* Global */
.page-body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 100%;
}

.body-width {
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main header */
.main-header-container {
  margin: 40px 0 0 0;
  min-height: 186px;
  background-color: var(--extra-light-yellow);
  position: relative;
}

.main-header-container--has-slider {
  min-height: 300px;
}

a.header-logo::before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: 60px;
  width: 163px;
  height: 35px;
  background-image: url("../assets/device-logo-black.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.header-logo:focus::before {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.header-logo:hover {
  opacity: 0.6;
  transition: opacity 0.2s;
}

.header-logo:active {
  opacity: 0.3;
  transition: opacity 0.2s;
}

.logo-disabled {
  pointer-events: none;
}

/* Header search form */
.header-search-form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-search-form__input {
  padding: 13px 0 13px 38px;
  height: 46px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  border: 0;
  outline: none;
  color: var(--basic-black);
  background-color: transparent;
}

.header-search-form__icon {
  content: "";
  position: absolute;
  display: block;
  top: 20px;
  left: 0;
  width: 13px;
  height: 13px;
  background-image: url("../img/search-ico.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-search-form__input:focus {
  outline: none;
  outline-offset: 0;
  box-shadow: 0 2px 0 0 var(--basic-black);
}

.header-search-form button {
  visibility: hidden;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.header-search-form__input:focus+button {
  visibility: visible;
}

.header-search-form__btn {
  display: block;
  height: 50px;
  padding: 0 16px 0 16px;
  color: var(--basic-black);
  border: 2px solid var(--basic-black);
  background: transparent;
  outline: none;
}

.header-search-form__btn:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.header-search-form__btn:active {
  color: rgba(var(--basic-white-rgba), 0.3);
  background-color: var(--basic-black);
}

.header-search-form__input::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: rgba(var(--basic-black-rgba), 0.3);
}

.header-search-form__input:hover::placeholder {
  color: rgba(var(--basic-black-rgba), 0.6);
}

.header-search-form__input:focus::placeholder {
  color: var(--basic-black);
}

/* Header navigation — top */
.header-user-nav__list {
  padding: 28px 60px 0 60px;
  margin: 0 0 36px 0;
  display: grid;
  grid-template-columns: minmax(min-content, 540px) minmax(auto, 230px) 1fr auto;
  grid-template-rows: auto;
  align-items: baseline;
  list-style: none;
}

.header-user-nav__list li:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.header-user-nav__list li:nth-child(3) {
  margin: 0 0 0 11px;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: center;
}

.header-user-nav__list li:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  justify-self: self-end;
}

.header-user-nav__link {
  display: inline-block;
  vertical-align: middle;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
}

.header-user-nav__link:hover {
  opacity: 0.6;
}

.header-user-nav__link:active {
  opacity: 0.3;
}

.header-user-nav__link:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.header-user-nav__link--dimmed {
  padding: 0 0 0 18px;
  color: rgba(var(--basic-black-rgba), 0.3);
}

.header-user-nav__item a {
  position: relative;
}

.header-user-nav__item a.header-user-nav__user-icon::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 3px 0;
  width: 12px;
  height: 12px;
  background-image: url("../img/user-ico-black.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.header-user-nav__item a.header-user-nav__chart-icon::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 13px 3px 0;
  width: 12px;
  height: 12px;
  background-image: url("../img/chart-ico-black.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.header-user-nav__item a.header-user-nav__cart-icon::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 11px 3px 0;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart-ico-black.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

/* Header navigation — bottom */
.header-site-nav {
  position: relative;
}

.header-site-nav__list {
  margin: 0;
  padding: 0 60px;
  display: grid;
  grid-template-columns: minmax(min-content, 540px) repeat(2, min-content) 1fr;
  grid-template-rows: repeat(2, auto);
  justify-items: self-start;
  list-style: none;
  background-color: var(--extra-light-yellow);
}

.header-site-nav__list li:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: start;
}

.header-site-nav__list li:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.header-site-nav__list li.header-site-nav__item:nth-child(3) {
  margin: 0 0 0 35px;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.header-site-nav__list li:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  justify-self: end;
}

.header-site-subnav {
  content: "";
  position: absolute;
  visibility: hidden;
  top: 28px;
  left: 0;
  width: 1160px;
  z-index: 5;
  transition: 0.2s 1s;
}

.header-site-nav__item:first-child:hover>div {
  visibility: visible;
  transition-delay: 0s;
}

a.dropdown-toggle::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 295px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus-ico.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-site-subnav__list {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 20px 0 38px 60px;
  box-sizing: border-box;
  list-style: none;
  background-color: var(--extra-light-yellow);
}

.header-site-subnav__list li:last-child {
  margin: 0;
}

.header-site-subnav__item {
  margin: 0 63px 0 0;
}

.header-site-subnav__item ul {
  padding: 0;
  list-style: none;
}

.header-site-subnav__item li {
  margin: 0 0 8px 0;
}

.header-site-subnav__item li:last-child {
  margin: 0;
}

.header-site-subnav__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
}

.header-site-subnav__link:hover {
  color: rgba(var(--basic-black-rgba), 0.6);
}

.header-site-subnav__link:active {
  color: rgba(var(--basic-black-rgba), 0.3);
}

.header-site-subnav__link:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  text-transform: uppercase;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.link {
  display: block;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: transparent;
}

.link:hover {
  color: rgba(var(--basic-black-rgba), 0.6);
}

.link:active {
  color: rgba(var(--basic-black-rgba), 0.3);
}

.link:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.service-link {
  display: block;
  position: relative;
  padding: 9px 20px;
  width: 160px;
  color: var(--basic-black);
  text-align: center;
  box-sizing: border-box;
  z-index: 1;
}

.service-link:hover {
  color: rgba(var(--basic-black-rgba), 1);
}

.service-link:active {
  width: 100%;
  color: var(--extra-light-yellow);
  text-align: left;
}

.service-link:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.service-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: var(--extra-saffron);
  z-index: -1;
}

.service-link:hover::before {
  height: 40px;
  top: 0;
}

.service-link:active::before {
  height: 40px;
  top: 0;
  background-color: var(--basic-black);
}

.service-link--current {
  height: 40px;
  width: 100%;
  color: var(--extra-light-yellow);
  text-align: left;
}

.service-link--current:hover {
  color: var(--extra-light-yellow);
}

.service-link--current::before {
  content: "";
  display: block;
  height: 40px;
  top: 0;
  left: 0;
  background-color: var(--basic-black);
}

/* Slider */
.slider {
  margin: 0 auto;
  max-width: 1040px;
  position: relative;
}

.slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 476px;
}

.slider__item {
  position: relative;
  top: -161px;
  left: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 500px);
  grid-template-rows: auto;
}

.slide {
  display: none;
}

.slide--current {
  position: relative;
  top: -161px;
  left: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 500px);
  grid-template-rows: auto;
}

.slide__main-img {
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: start;
}

.slide__main-img img.slide__main-img-1 {
  position: relative;
  top: 31px;
  left: 29px;
  max-width: 384px;
}

.slide__main-img img.slide__main-img-2 {
  position: relative;
  top: 57px;
  left: 56px;
  max-width: 345px;
}

.slide__main-img img.slide__main-img-3 {
  position: relative;
  top: 113px;
  left: -30px;
  max-width: 526px;
}

.slide__info {
  position: relative;
  top: 125px;
  left: 0;
  min-height: 476px;
  z-index: 1;
}

.slide__info .slide__title {
  margin: 0;
  margin: 0 0 22px 0;
  height: 120px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 59px;
  color: var(--basic-black);
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.slide__info .slide__text {
  margin: 0;
  margin: 0 0 32px 0;
  height: 60px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.slide__decor-number {
  content: "";
  display: block;
  position: absolute;
  top: -90px;
  right: -10px;
  z-index: -1;
}

.slide__decor-img::before {
  content: "";
  display: block;
  position: absolute;
  top: -58px;
  left: 0;
  width: 100px;
  height: 7px;
  background-image: url(../img/rectangle-white.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slide__decor-number {
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  line-height: 100%;
  font-weight: 800;
  text-align: right;
  text-transform: uppercase;
  color: var(--basic-white);
  user-select: none;
}

.slide__link {
  margin: 0;
  display: block;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.slide__link:hover {
  color: rgba(var(--basic-black-rgba), 1);
}

.slide__link:active {
  color: rgba(var(--basic-black-rgba), 0.3);
}

.slide__link--style {
  position: relative;
  padding: 9px 20px;
  width: 220px;
  color: var(--basic-black);
  text-align: center;
  box-sizing: border-box;
  z-index: 1;
}

.slide__link--style::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: var(--extra-saffron);
  z-index: -1;
}

.slide__link--style:hover::before {
  height: 40px;
  top: 0;
}

.slide__link--style:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

table.slide-pruduct-features {
  padding: 50px 0 0 0;
}

div.slide-pruduct-features {
  margin: 56px 0 0 0;
}

div.slide-pruduct-features p:nth-child(1) {
  margin: 0;
}

table.slide-pruduct-features th {
  padding: 0 58px 0 0;
}

table.slide-pruduct-features th:last-child {
  padding: 0;
}

table.slide-pruduct-features td {
  padding: 13px 0 0 0;
}

.slide-pruduct-features__text {
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.slide-pruduct-features__text--lead {
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.slider-nav {
  position: absolute;
  bottom: 253px;
  right: 27px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 3;
  list-style: none;
}

.slider-nav .slider-nav__bullet {
  position: relative;
  display: block;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.slider-nav__bullet:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 2px;
}

.slider-nav__bullet--current::after {
  content: "";
  position: absolute;
  display: block;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

.slider-nav__item {
  padding: 0 0 0 16px;
}

/* Section — categories */
.popular__inner {
  margin: 0 0 153px 0;
}

.popular__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.popular__item:nth-child(4) h3 {
  letter-spacing: 0;
}

.popular__item {
  padding: 0;
  max-width: 160px;
  margin: 0 0 30px 0;
}

.popular__link {
  display: block;
}

.popular__link h3 {
  margin: 30px 0 0 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.popular__link h3:active {
  color: rgba(var(--basic-black-rgba), 0.3);
}

.popular__link:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.popular__link svg {
  width: 160px;
  height: 160px;
  background-color: var(--extra-light-yellow);
}

.popular__link:hover svg {
  width: 160px;
  height: 160px;
  background-color: var(--extra-saffron);
}

.popular__link:active path {
  fill-opacity: 0.3;
}

.popular__link:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

/* Breadcrumbs */
.breadcrumbs {
  background-color: var(--basic-white);
}

.breadcrumbs__inner {
  margin: 44px 0 46px 0;
}

.breadcrumbs__inner h1 {
  margin: 0;
  padding: 0 0 24px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 59px;
  color: var(--basic-black);
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs__list li {
  margin: 0 41px 0 0;
  position: relative;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  top: 12px;
  right: -23px;
  width: 4px;
  height: 6px;
  background-image: url("../img/arrow-right.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.breadcrumbs__list li:last-child {
  margin: 0;
}

.breadcrumbs__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: rgba(var(--basic-black-rgba), 0.3);
}

.breadcrumbs__link--current {
  pointer-events: none;
}

.breadcrumbs__list li:last-child::after {
  display: none;
}

.breadcrumbs__link:hover {
  color: rgba(var(--basic-black-rgba), 0.6);
}

.breadcrumbs__link:active {
  color: rgba(var(--basic-black-rgba), 0.1);
}

.breadcrumbs__link:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

/* Catalog */
.catalog-content-width {
  margin: 0 auto;
  padding: 0 0 0 60px;
  max-width: 1100px;
}

.catalog__inner {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr min-content min-content 1fr;
  grid-template-rows: repeat(4, auto);
}

.filter-features--header-fill {
  background-color: var(--extra-filter-grey);
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  z-index: 0;
}

.filter-features {
  padding: 0 0 0 60px;
  min-width: 268px;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  z-index: 1;
}

.filter-features--content-fill {
  background-color: var(--basic-neutral);
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.filter-sorting {
  min-width: 832px;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  z-index: 1;
}

.filter-sorting--header-fill {
  background-color: var(--basic-neutral);
  grid-column: 3 / 5;
  grid-row: 1 / 2;
  z-index: 0;
}

.cards {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.catalog-pagination {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

/* Filter */
.filter-features-header {
  height: 70px;
  display: flex;
  align-items: center;
}

.filter-features-header h2 {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter-features__form-fieldset {
  border: 0;
  padding: 0;
  margin: 0 0 13px 0;
}

.filter-features__form-fieldset legend {
  position: relative;
}

.filter-features__form-fieldset legend::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 200px;
  top: -16px;
  left: 0;
  background-color: var(--basic-black);
}

.filter-features__form fieldset:nth-child(1) {
  margin: 86px 0 0 0;
}

.filter-features__form-fieldset legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.filter-features__range-filter {
  margin: 15px 0 49px 0;
  position: relative;
}

.filter-features__range-controls {
  max-width: 200px;
  margin: 0 0 0 0;
  padding: 24px 0 10px 0;
}

.filter-features__range-controls .scale {
  height: 2px;
  background-color: rgba(var(--basic-black-rgba), 0.2);
}

.scale .scale__bar {
  width: 63%;
  height: 2px;
  background-color: var(--extra-lime);
}

.filter-features__range-controls div.toggle {
  position: absolute;
  top: 15px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--extra-filter-range-controls-toggle);
  box-shadow: 0 2px 2px rgba(var(--basic-black-rgba), 0.18);
  cursor: pointer;
}

.filter-features__range-controls div.toggle--min {
  left: 0;
}

.filter-features__range-controls div.toggle--max {
  left: 100px;
}

label[for="price-max"] {
  padding: 0 0 0 67px;
}

.filter-features__price-controls label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--basic-black);
}

.filter-features__color {
  padding: 0;
  margin: 29px 0 0 0;
  list-style: none;
}

.filter-features__option-checkbox {
  margin: 0;
  position: relative;
  padding: 0 30px 11px 42px;
  max-width: 250px;
}

.filter-features__color li:nth-child(5) {
  margin: 0 0 25px 0;
}

.filter-features__color label,
.filter-features__bluetooth label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  cursor: pointer;
  user-select: none;
  /* overflow: hidden; */
}


.filter-features__input-checkbox+label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
}

.filter-features__input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  display: block;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/filter-check-mark.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-features__input-checkbox:hover+label {
  opacity: 0.6;
}

.filter-features__input-checkbox:active+label {
  opacity: 1;
}

.filter-features__input-checkbox:focus+label {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

input[type="checkbox"]:disabled+label {
  color: var(--extra-filter-option-disabled);
  pointer-events: none;
}

input[type="checkbox"]:disabled+label::before,
input[type="checkbox"]:disabled+label::after {
  opacity: 0.25;
}

.filter-features__bluetooth {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
}

.filter-features__option-radio {
  margin: 0;
  position: relative;
  padding: 0 30px 11px 42px;
}

.filter-features__bluetooth li:nth-child(2) {
  margin: 0 0 15px 0;
}

.filter-features__input-radio+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.filter-features__input-radio:checked+label::after {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.filter-features__input-radio:hover+label {
  opacity: 0.6;
}

.filter-features__input-radio:active+label {
  opacity: 1;
}

.filter-features__input-radio:focus+label {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

input[type="radio"]:disabled+label {
  color: var(--extra-filter-option-disabled);
  pointer-events: none;
}

input[type="radio"]:disabled+label::before,
input[type="radio"]:disabled+label::after {
  opacity: 0.25;
}

.button--filter-features {
  position: relative;
  padding: 9px 20px;
  width: 200px;
  color: var(--basic-black);
  text-align: center;
  box-sizing: border-box;
  z-index: 1;
}

.button--filter-features::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: var(--extra-saffron);
  z-index: -1;
}

.button--filter-features:hover {
  color: rgba(var(--basic-black-rgba), 1);
}

.button--filter-features:active {
  color: rgba(var(--basic-black-rgba), 0.3);
}

.button--filter-features:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.button--filter-features:hover::before {
  height: 40px;
  top: 0;
}

.filter-sorting__list {
  margin: 0;
  padding: 0 3px 0 72px;
  height: 70px;
  display: grid;
  grid-template-columns: min-content 1fr 45px;
  grid-template-rows: auto;
  justify-content: start;
  align-items: center;
}

.filter-sorting__item ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filter-sorting__list div:nth-child(1) {
  justify-self: start;
}

.filter-sorting__list div:nth-child(2) {
  justify-self: start;
  padding: 0 0 0 33px;
}

.filter-sorting__list div:nth-child(3) {
  display: flex;
  justify-content: space-between;
}

.filter-sorting__item h2 {
  margin: 0;
  vertical-align: middle;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter-sorting__item a.filter-sorting__link {
  margin: 0 31px 0 0;
}

.filter-sorting__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgba(var(--basic-black-rgba), 0.3);
  cursor: pointer;
  user-select: none;
}

.filter-sorting__link:hover {
  color: rgba(var(--basic-black-rgba), 0.6);
}

.filter-sorting__link:active {
  color: var(--basic-black);
}

.filter-sorting__link:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.filter-sorting__link--current {
  color: var(--basic-black);
}

.filter-sorting__order-link {
  cursor: pointer;
}

.filter-sorting__order-link--current g {
  fill-opacity: 1;
}

.filter-sorting__order-link:hover g,
.filter-sorting__order-link--curent:hover g {
  fill-opacity: 0.4;
}

.filter-sorting__order-link:active g,
.filter-sorting__order-link--curent:active g {
  fill-opacity: 1;
}

.filter-sorting__order-link:focus,
.filter-sorting__order-link--curent:focus {
  outline: none;
}

.filter-sorting__order-link:focus svg,
.filter-sorting__order-link--curent:focus svg {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.cards__list {
  margin: 0;
  padding: 70px 0 0 72px;
  width: 760px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 40px;
  align-items: start;
  list-style: none;
}

.cards__item {
  position: relative;
  max-width: 360px;
  min-height: 460px;
  margin: 0 0 42px 0;
}

.cards__item--overlay>img {
  width: 360px;
  height: 380px;
  object-fit: contain;
}

.cards__item--overlay>div {
  display: none;
}

.cards__item--overlay:hover>div {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
  text-align: center;
  background-color: rgba(var(--extra-cards-overlay-rgba), 0.7);
}

.cards__item--overlay-btn {
  content: "";
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%)
}

.cards__cart-btn {
  position: relative;
  padding: 9px 20px;
  margin: 0 0 14px 0;
  width: 200px;
  color: var(--basic-black);
  text-align: center;
  box-sizing: border-box;
  z-index: 1;
}

.cards__cart-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: var(--extra-saffron);
  z-index: -1;
}

.cards__cart-btn:hover {
  color: rgba(var(--basic-black-rgba), 1);
}

.cards__cart-btn:active {
  color: rgba(var(--basic-black-rgba), 0.3);
}

.cards__cart-btn:hover::before {
  height: 40px;
  top: 0;
}

.cards__compare-btn {
  display: block;
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: none;
  color: rgba(var(--basic-black-rgba), 0.5);
}

.cards__compare-btn:hover {
  color: rgba(var(--basic-black-rgba), 1);
}

.cards__compare-btn:active {
  color: rgba(var(--basic-black-rgba), 0.2);
}

.cards__list li:nth-child(3),
.cards__list li:nth-child(4) {
  margin: 0 0 34px 0;
}

.cards__item.cards__item—new::before {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  right: 27px;
  width: 62px;
  height: 62px;
  background-image: url("../img/item-label-new.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.cards__text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cards__item-link h3 {
  max-width: 270px;
  margin: 22px 0 0 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cards__item-link:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.cards__item p {
  margin: 0 0 0 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.catalog-pagination {
  margin: 0 0 78px 72px;
  background-color: var(--extra-pagination-grey);
  max-width: 760px;
}

.catalog-pagination__inner {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto minmax(120px, 300px) auto;
  justify-items: center;
  align-items: center;
}

.catalog-pagination__inner div:nth-child(1) {
  justify-self: start;
}

.catalog-pagination__inner div:nth-child(3) {
  justify-self: end;
}

.catalog-pagination__link,
.catalog-pagination__number-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.catalog-pagination__number-list {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.catalog-pagination__link {
  display: block;
  padding: 25px 30px;
}

.catalog-pagination__number-link {
  display: block;
  text-align: right;
  width: 20px;
}

.catalog-pagination__number-list li {
  padding: 0 19px 0 0;
}

.catalog-pagination__number-list li:last-child {
  padding: 0;
}

.catalog-pagination__link-previous:hover {
  color: var(--basic-black);
  background-color: var(--extra-filter-grey);
}

.catalog-pagination__link-previous:active {
  color: rgba(var(--basic-black-rgba), 0.3);
  background-color: var(--extra-filter-grey);
}

.catalog-pagination__link--disabled {
  pointer-events: none;
}

.catalog-pagination__link-next:hover {
  color: var(--basic-black);
  background-color: var(--extra-filter-grey);
}

.catalog-pagination__link-next:active {
  color: rgba(var(--basic-black-rgba), 0.3);
  background-color: var(--extra-filter-grey);
}

.catalog-pagination__link-previous:focus,
.catalog-pagination__link-next:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.catalog-pagination__number-link {
  color: rgba(var(--basic-black-rgba), 0.3);
}

.catalog-pagination__number-link:hover {
  color: rgba(var(--basic-black-rgba), 0.6);
}

.catalog-pagination__number-link:active {
  color: var(--basic-black);
}

.catalog-pagination__number-link:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.catalog-pagination__number-link--current {
  color: var(--basic-black);
  pointer-events: none;
}

/* Section — services */
.services {
  margin: 0 0 90px 0;
  width: 100%;
  background-color: var(--basic-neutral);
}

.services__inner {
  position: relative;
  top: -83px;
  left: 0;
}

.tab-panes {
  min-height: 288px;
  display: grid;
  grid-template-columns: minmax(min-content, 277px) 1fr;
  grid-template-rows: auto;
  column-gap: 124px;
}

.tab-panes__services-list {
  position: relative;
  padding: 0;
  margin: 0;
  max-height: 163px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
  list-style: none;
}

.tab-panes__services-list li {
  margin: 0 0 21px 0;
}

.tab-panes__services-list::after {
  content: "";
  display: block;
  position: absolute;
  top: -80px;
  right: -7px;
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);
}

.tab-panes__pane-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tab-panes__pane-img-1 {
  background-image: url("../img/delivery-man-ico.svg");
  background-position: right 44%;
  background-repeat: no-repeat;
}

.tab-panes__pane-img-2 {
  background-image: url("../img/warranty-ico.svg");
  background-position: right 38%;
  background-repeat: no-repeat;
}

.tab-panes__pane-img-3 {
  background-image: url("../img/online-loans-ico.svg");
  background-position: 99% 30%;
  background-repeat: no-repeat;
}

.tab-panes__pane-title {
  margin: 0;
  padding: 55px 0 0 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 59px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.tab-panes__pane-text {
  margin: 0;
  padding: 38px 0 0 0;
  max-width: 574px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.tab-pane {
  display: none;
}

/* Logo slider */
.logo-slider__list {
  margin: 0 0 70px 0;
  padding: 0;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  user-select: none;
}

.logo-slider__item:first-child:hover {
  display: block;
  top: 0;
  left: 0;
  width: 260px;
  height: 100px;
  background-image: url("../assets/dji-logo-color.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.logo-slider__item:nth-child(2):hover {
  display: block;
  width: 260px;
  height: 100px;
  background-image: url("../assets/sp-gadgets-logo-color.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.logo-slider__item:nth-child(3):hover {
  display: block;
  width: 260px;
  height: 100px;
  background-image: url("../assets/gopro-logo-color.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.logo-slider__item:nth-child(4):hover {
  display: block;
  width: 260px;
  height: 100px;
  background-image: url("../assets/vive-logo-color.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* Contact section */
.contacts-section__inner {
  margin: 0 0 77px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts-about {
  max-width: 473px;
  position: relative;
}

.contacts-about:nth-child(1) p {
  padding: 0 0 40px 0;
}

.contacts-about__decor-img::before {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: 0;
  width: 80px;
  height: 7px;
  background-image: url(../img/rectangle-black.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.contacts {
  max-width: 560px;
  position: relative;
}

.contacts p {
  padding: 0 0 12px 0;
}

.contacts__decor-img::before {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: 0;
  width: 80px;
  height: 7px;
  background-image: url(../img/rectangle-black.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.contacts__map {
  padding: 0 0 76px 0;
}

.contacts__map-link {
  outline: none;
}

.contacts__map-link img {
  display: block;
  margin: 0 0 76px 0;
  width: 560px;
  height: 222px;
  background-color: var(--extra-filter-grey);
}

.contacts__map-link:focus img {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.contacts h2,
.contacts-about h2 {
  margin: 0;
  padding: 70px 0 39px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 59px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.contacts p,
.contacts-about p {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
}

.contacts-about__partners-list {
  margin: 21px 0 55px 0;
  padding: 0 0 0 32px;
  list-style-type: none;
}

.contacts-about__partners-item {
  position: relative;
  margin: 0;
  padding: 0 0 14px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black);
}

.contacts-about__partners-item::before {
  content: "";
  position: absolute;
  display: block;
  top: 11px;
  left: -32px;
  width: 8px;
  height: 8px;
  background-image: url("../img/bullet.svg");
}

.contacts-link {
  display: block;
  position: relative;
  padding: 9px 20px;
  width: 260px;
  color: var(--basic-black);
  text-align: center;
  box-sizing: border-box;
  z-index: 1;
}

.contacts-link:hover {
  color: rgba(var(--basic-black-rgba), 1);
}

.contacts-link:active {
  color: rgba(var(--basic-black-rgba), 0.3);
}

.contacts-link:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.contacts-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: var(--extra-saffron);
  z-index: -1;
}

.contacts-link:hover::before {
  height: 40px;
  top: 0;
}

/* Main footer */
.main-footer {
  width: 100%;
  background-color: var(--basic-charcoal);
}

.main-footer__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
}

.footer-nav {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.footer-nav__list {
  margin: 0;
  padding: 42px 0 38px 0;
  display: grid;
  grid-template-columns: minmax(163px, 100%) repeat(3, auto);
  grid-template-rows: auto;
  align-items: start;
  justify-content: end;
  list-style: none;
}


.footer-nav__user-link {
  display: inline-block;
  vertical-align: baseline;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: rgba(var(--basic-white-rgba), 0.7);
  user-select: none;
}

.footer-nav__list li:not(:last-child) {
  margin: 0 41px 0 0;
}

a[target] {
  margin: 0 0 0 22px;
}

.footer-nav__user-link:hover {
  color: var(--basic-white);
  transition: ease-out 0.2s;
}

.footer-nav__user-link:active {
  opacity: 0.3;
}

.footer-nav__user-link:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.footer-nav__item a.footer-nav__user-icon::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 0 0;
  width: 12px;
  height: 12px;
  background-image: url("../img/user-ico-yel.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-nav__item a.footer-nav__chart-icon::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 0 0;
  width: 12px;
  height: 12px;
  background-image: url("../img/chart-ico-yel.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-nav__item a.footer-nav__cart-icon::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 0 0;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart-ico-yel.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-nav__item:hover a.footer-nav__user-link::before {
  opacity: 0.6;
  transition: opacity 0.2s;
}

.footer-nav__item:active a.footer-nav__user-link::before {
  opacity: 0.3;
}

.footer-logo img {
  padding: 23px 0 0 0;
  display: inline-block;
  vertical-align: bottom;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer-logo:hover img {
  opacity: 0.6;
  transition: opacity 0.2s;
}

.footer-logo:active img {
  opacity: 0.3;
  transition: opacity 0.2s;
}

a.footer-logo:focus {
  outline: none;
}

.footer-logo:focus img {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.footer-contacts {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

.footer-contacts__list {
  margin: 0;
  padding: 0 0 51px 0;
  display: grid;
  grid-template-columns: 1fr 427px 1fr;
  align-content: center;
  list-style: none;
}

.footer-contacts__list li:nth-child(1) {
  justify-self: start;
}

.footer-contacts__item ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.footer-contacts__list li:nth-child(3) {
  justify-self: end;
}

.footer-contacts__list li {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  list-style: none;
}

.footer-social {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}

.footer-social__list {
  padding: 15px 0 64px 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 136px 1fr;
  grid-template-rows: auto;
  align-items: center;
  list-style: none;
}

.footer-social__list li:nth-child(3) {
  justify-self: end;
}

.footer-social__item {
  position: relative;
}

.footer-social__item img,
.footer-social__item svg {
  display: block;
}

.footer-social__item ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.footer-social__decor-img::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 80px;
  height: 7px;
  background-image: url(../img/rectangle-yellow.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-social__link:hover path {
  fill-opacity: 0.6;
}

.footer-social__link:active path {
  fill-opacity: 0.3;
}

.footer-social__link[aria-hidden="true"]:hover path {
  fill-opacity: 0.6;
}

.footer-social__link[aria-hidden="true"]:active path {
  fill-opacity: 0.1;
}

.footer-social__link:focus {
  outline: none;
}

.footer-social__link:focus svg {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.footer-contacts__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer-contacts__link:hover {
  color: rgba(var(--basic-white-rgba), 0.6);
}

.footer-contacts__link:active {
  color: rgba(var(--basic-white-rgba), 0.3);
}

.footer-contacts__link:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.footer-phone {
  color: var(--basic-white);
}

.footer-phone:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

/* Write to us modal form */
.modal-form {
  position: fixed;
  top: 228px;
  right: 0;
  bottom: auto;
  left: 0;
  margin: auto;
  width: 960px;
  height: 550px;
  background-color: var(--basic-white);
  box-shadow: 0 10px 16px rgba(var(--basic-black-rgba), 0.7);
  z-index: 4;
}

.modal-form__inner {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  align-content: center;
  grid-column-gap: 40px;
  grid-row-gap: 36px;
  padding: 92px 0 0 0;
  max-width: 760px;
}

.modal-form__inner div:nth-child(1) {
  max-width: 360px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.modal-form__inner div:nth-child(2) {
  max-width: 360px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.modal-form__inner div:nth-child(3) {
  max-width: 760px;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

.modal-form__inner button {
  padding: 0;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  justify-self: start;
  height: 40px;
}

.modal-form__item input {
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  padding: 0 0 0 20px;
}

.modal-form__item textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 167px;
  padding: 16px 0 0 20px;
}

.modal-form__item input,
.modal-form__item textarea {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  border: none;
  background-color: var(--basic-light-grey);
}

.modal-form__item label {
  display: block;
  padding: 0 0 10px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  color: var(--basic-black);
}

.modal-form__input-field::placeholder,
.modal-form__textarea-field::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgba(var(--basic-black-rgba), 0.4);
}

.modal-form__input-field:hover,
.modal-form__textarea-field:hover {
  background-color: var(--basic-neutral);
}

.modal-form__input-field:hover::placeholder,
.modal-form__textarea-field:hover::placeholder {
  color: rgba(var(--basic-black-rgba), 0.6);
}

.modal-form__input-field:focus,
.modal-form__textarea-field:focus {
  color: var(--basic-black);
  outline: 2px solid var(--extra-light-yellow);
  background-color: var(--basic-white);
}

.modal-form__input-field:invalid,
.modal-form__textarea-field:invalid {
  outline: none;
  color: rgba(var(--basic-black-rgba), 0.4);
  background-color: var(--state-rose-water);
}

.modal-form__submit-btn {
  position: relative;
  padding: 9px 20px;
  width: 200px;
  color: var(--basic-black);
  text-align: center;
  box-sizing: border-box;
  z-index: 1;
}

.modal-form__submit-btn:hover {
  color: var(--basic-black);
}

.modal-form__submit-btn:active {
  color: rgba(var(--basic-black-rgba), 0.3);
}

.modal-form__submit-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: var(--extra-saffron);
  z-index: -1;
}

.modal-form__submit-btn:hover {
  color: rgba(var(--basic-black-rgba), 1);
}

.modal-form__submit-btn:active {
  color: rgba(var(--basic-black-rgba), 0.3);
}

.modal-form__submit-btn:focus {
  outline: 3px solid var(--extra-focus);
  outline-offset: 3px;
}

.modal-form__submit-btn:hover::before {
  height: 40px;
  top: 0;
}

.modal-map {
  position: fixed;
  top: 300px;
  right: 0;
  bottom: 467px;
  left: 0;
  margin: auto;
  width: 960px;
  height: 559px;
  z-index: 4;
}

.modal-map__map-link img {
  display: block;
  width: 960px;
  height: 559px;
  background-color: var(--extra-filter-grey);
  box-shadow: 0 10px 16px rgba(var(--basic-black-rgba), 0.2);
}

.modal-map iframe {
  border: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 110px;
  left: 0;
  margin: auto;
  z-index: 6;
}

.modal-form button.modal-form__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-map button.modal-map__close-btn {
  position: absolute;
  top: 50px;
  right: 18px;
  z-index: 10;
}

button.modal-form__close-btn,
button.modal-map__close-btn {
  padding: 0;
  width: 55px;
  height: 55px;
  background-color: rgba(var(--extra-saffron-rgba), 0.5);
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

button.modal-form__close-btn::before,
button.modal-map__close-btn::before,
button.modal-form__close-btn::after,
button.modal-map__close-btn::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 16px;
  width: 23px;
  height: 3px;
  background-color: rgba(var(--basic-white-rgba), 0.7);
}

button.modal-form__close-btn::before,
button.modal-map__close-btn::before {
  transform: rotate(45deg);
}

button.modal-form__close-btn::after,
button.modal-map__close-btn::after {
  transform: rotate(-45deg);
}

button.modal-form__close-btn:hover,
button.modal-map__close-btn:hover {
  background-color: rgba(var(--extra-saffron-rgba), 1);
}

button.modal-form__close-btn:active,
button.modal-map__close-btn:active {
  background-color: rgba(var(--extra-saffron-rgba), 0.3);
}

.modal {
  display: none;
}

/* Accessibility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
